<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="index.html">freemindscafe.com</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="#">Applications monitoring and tuning</a></li>
					<li><a href="#">Multi-threading</a></li>
					<li><a href="#">Tx handling</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="span6" id="catchline">
			<h2>freemindscafe.com</h2>
			<p class="lead">
				freemindscafe.com is where you can learn about the applications monitoring and tuning, multi-threading, tx handling and other areas of software engineering.
				The material is targeted at experienced programmers.

			</p>
			<p class="lead">An ideal platform for indepth insight about advanced
				topics in software engineering.</p>
		</div>

		<div class="span5 offset1">
			<div id="main-carousel" class="carousel">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="item">
						<img src="/assets/tuning.png" alt="">
						<div class="carousel-caption">
							<h4>
								<a href="#" target="_blank">Applications tuning</a>
							</h4>
							<p>Discussions related to cpu utililization, memeory usage, io stats, network stats and more.</p>
						</div>
					</div>
					<div class="item">
						<img src="/assets/monitoring.png" alt="">
						<div class="carousel-caption">
							<h4>
								<a href="#" target="_blank">Applications monitoring</a>
							</h4>
							<p>Discussions related to cpu utililization, memeory usage, io stats, network stats and more.</p>
						</div>
					</div>

					<div class="item active">
						<img src="/assets/threading.png" alt="">
						<div class="carousel-caption">
							<h4>
								<a href="#" target="_blank">Multi-threading</a>
							</h4>
							<p>Discussions related to synchronized data structures, lock free alogorithms and more.</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="/assets/tx-handling.png">
						<div class="carousel-caption">
							<h4>
								<a href="#" target="_blank">Tx handling</a>
							</h4>
							<p>Discussions related to spring transactions, database transactions, database locks, database isolation lavels and more.</p>
						</div>
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#main-carousel" data-slide="prev">‹</a> <a class="carousel-control right" href="#main-carousel" data-slide="next">›</a>
			</div>
		</div>
	</div>

	<!-- Example row of columns -->
	<div class="row">
		CK editor goes here

	</div>

	<hr>

	<footer>
		<ul class="nav nav-pills">
			<li><a href="#">Home</a></li>
			<li><a href="#" target="_blank">Privacy Policy</a></li>
			<li><a href="#" target="_blank">Terms of Use</a></li>
			<li><a href="#" target="_blank">Copyright Agent</a></li>
			<li><a href="#" target="_blank">Legal</a></li>
			<li><a href="#" data-toggle="modal" data-target="#contact-modal">Contact Us</a></li>
			<li class="pull-right">Copyright © 2012 freeminscafe.com. All Rights Reserved.</li>
		</ul>
	</footer>

	<div id="contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contact-label" aria-hidden="true" style="display: none;">
		</div>

</div>
<!-- /container -->